.m2\n.anaconda\n.cache\n.conda\n.continuum\n.eclipse\n.gradle\n.lemminx\n.p2\n.sts4\n3D Objects\nAppData\nContacts\nDownloads\nFavorites\nLinks\nMusic\nNTUSER.DAT*\nOneDrive\nPycharmProjects\nSaved Games\nSearches\nVideos\nanaconda3\neclipse-workspace2\neclipse\nlogs\nmercurial.ini\nntuser.dat*\nstudy\ntarget/\n*.log\n*.tmp
